.dashboard-container {
  display: flex;
  /* height: 100vh; */
  background-color: #f8f9fa;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1d4ed8;
  margin-bottom: 20px;
}

/* Contenu principal */
.main-content {
  flex: 1;
  padding: 30px;
  background: white;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #374151;
  margin-bottom: 20px;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.chatbot-container {
  margin-top: 20px;
}
